{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue"
  ],
  "plugins": ["stylelint-order"],
  "rules": {
    "alpha-value-notation": "number",
    "order/properties-alphabetical-order": true,
    "scss/dollar-variable-colon-space-after": "at-least-one-space"
  }
}
