$utilities: (
  // remove core utilities
  "float": null,
  "overflow": null,
  "border": null,
  "border-top": null,
  "border-right": null,
  "border-bottom": null,
  "border-left": null,
  "border-color": null,
  "visibility": null,
  // custom utilities
  "flex": (
    responsive: true,
    property: flex,
    values: (
      fill: 1 1 auto,
      even: 1 1 0,
    )
  ),
  "height": (
    property: height,
    class: h,
    values: (
      0: 0,
      1: 0.25rem,
      2: 0.5rem,
      3: 0.75rem,
      4: 1rem,
      5: 1.25rem,
      6: 1.5rem,
      8: 2rem,
      10: 2.5rem,
      12: 3rem,
      16: 4rem,
      20: 5rem,
      24: 6rem,
      32: 8rem,
      40: 10rem,
      48: 12rem,
      56: 14rem,
      64: 16rem,
      px: 1px,
      auto: auto,
    )
  ),
  "width": (
    property: width,
    class: w,
    values: (
      0: 0,
      1: 0.25rem,
      2: 0.5rem,
      3: 0.75rem,
      4: 1rem,
      5: 1.25rem,
      6: 1.5rem,
      8: 2rem,
      10: 2.5rem,
      12: 3rem,
      16: 4rem,
      20: 5rem,
      24: 6rem,
      32: 8rem,
      40: 10rem,
      48: 12rem,
      56: 14rem,
      64: 16rem,
      px: 1px,
      auto: auto,
    )
  )
);
